.pretext{
    color:white;
 }
 .error{
    color:red;
} 

.main{
    /* background-color: white; */
    border:1px solid black;
    height:450px;
    width:400px;
    margin-left: 32%;
    margin-top: 100px;

}

.label{
    font-size: 30px;
    text-align: center;
    
}
.field{

    padding:8px;
    width:80%;
}
.button{
    width:50%;
    padding:10px;
    background-color: rgb(15, 196, 15);
}